# Thư mục không cần theo dõi
/tests/
/vidumau/
/logs/*
!/logs/.gitkeep

# Ignore default images
/public/images/hotels/default2.jpg
/public/images/cities/default2.jpg

# IDE files
.vscode/
.idea/
.gitignore

# System Files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Cache & temp files
*.cache
*.tmp

# Config files không cần thiết
/config/RewriteEngine*
/config/*.rb
