<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Get base directory name 
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]
    
    # Set RewriteBase if project in subfolder
    RewriteBase /agoda/

    # Allow access to assets
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Additional security
<FilesMatch "\.(env|config|htaccess|git)">
    Order allow,deny
    Deny from all
</FilesMatch>
